body {
  background-color: white;
  height: 100vh;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 40px;
  font-family: Arial, sans-serif;
}

.logo {
  margin: 0 auto;
  display: block;
  max-height: 125px;
  padding-top: 5px;
  padding-bottom: 10px;
}
