body {
  background-color: white;
  height: 100vh;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 40px;
  font-family: Arial, sans-serif;
}

h1 {
  text-align: center;
  font-style: italic;
  padding-top: 5px;
  padding-bottom: 10px;
}
