body {
  background-color: #f9f6f2;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 40px;
  font-family: Arial, sans-serif;
  background-color: white;
}

h1 {
  text-align: center;
  color: #333;
  margin: 0 auto;
  padding-bottom: 30px;
}

footer {
  padding: 30px;
  text-align: center;
  margin: 0 auto;
}
